@charset "utf-8";

@font-face {
  font-family: 'JejuMyeongjo';
  src: local('제주명조'),
  url(../fonts/JejuMyeongjo.woff2) format('woff2'),
  url(../fonts/JejuMyeongjo.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400s;
}