@charset "utf-8";

/******** 기본 : 모바일 ********/
/**** header ****/
header {
      font-family: var(--font-main-en);
      width: 100%; height: 60px;
      background-color: var(--color-secondary);

      position: fixed;
      top: 0;
      z-index: 9999;
      justify-content: space-between;
      transition: 0.5s;
      align-items: center;
}

header a {
      display: block;
      
}

header a .main-logo {
      width: 35px;  height: 40px;
      background: url(../../images/main_logo.svg) no-repeat 50% / 100%; 
      text-indent: -9999px;
      transition: 0.2s;
      transform: scale(1);
      z-index: 1;
      margin-top: 10px;
 }

 header a .main-logo:hover {
      transform: scale(1.1);
 }


/* 메뉴들 */
header .gnb {display: none;}


/* 메뉴바 */
header .gnb-btn {
      width: 60px;
      height: 60px;
      z-index: 1;
      padding-top: 15px;
      transition: 0.3s;
}

header .gnb-btn .line {
      display: block;
      width: 22px; height: 3px;
      background-color: var(--color-primary);
      border-radius: 3px;
      margin: 5px auto;
      transition: 0.3s;
}

header .gnb-btn .line-1 {transform: translateX(-4px);}
header .gnb-btn .line-3 {transform: translateX(4px);}

header .gnb-btn:hover {
      transform: scale(1.2);
}



/* toggle-btn:on */
header.toggle-btn {
      height: 100vh;
      align-items: flex-start;
      background-color: var(--color-primary);
      color: var(--color-secondary);

}

header.toggle-btn .main-logo {
      background: url(../../images/main_logo_sec.svg) no-repeat 50% / 100%; 
}

header.toggle-btn .gnb {
      display: block;
      font-size: var(--font-main-title-xlg);
      position: absolute;
      top: 10%; left: 10%;
}


header.toggle-btn .gnb li {
      margin: var(--spacing-rg);
}

/* 메뉴 아이콘 X 모양  */
header.toggle-btn .gnb-btn .line {
      background-color: var(--color-secondary);
}
header.toggle-btn .gnb-btn .line-1 {
      transform: translateY(6px) rotate(45deg);
}
    
header.toggle-btn .gnb-btn .line-2 {
      transform: scale(0);
}
    
header.toggle-btn  .gnb-btn .line-3{
      transform: translateY(-10px) rotate(-45deg);
}


/**** footer ****/
footer {
      background-color: var(--color-primary);
      color: var(--color-secondary);
      padding: var(--spacing-xlg) 16px;
}

footer .rabbit {
      width: 60px; height: 60px;
      margin-left: auto;
}
footer .footer-info {
      text-transform: uppercase;
}

footer .footer-info h3{
      text-transform: none;
      display: inline-block;
      font-size: var(--font-main-title-lg);
      padding-bottom: 10px;
      border-bottom: 2px solid var(--color-secondary);
      margin-bottom: var(--spacing-md);
}

footer .footer-info .footer-info-list {
      margin-bottom: var(--spacing-xlg);
}

footer .footer-info .footer-info-list li a {
      display: flex;
      width: 150px;
      padding: 10px 20px;
      margin-bottom: 20px;
      border: 2px solid var(--color-secondary);
      border-radius: 30px;
      justify-content: space-between;
}
footer .footer-info .footer-info-list li a img {
      width: 20px;
}

footer .footer-container {
      position: relative;
      width: 100%;
      overflow: hidden;
}
.footer-name {
      font-weight: 900;
      text-wrap: wrap;
      align-self: flex-end;
      font-size: 5rem;
      overflow: hidden;
      white-space: nowrap;
}



@media screen and (min-width : 768px) {
      header {
            height: 80px;
      }
      footer {
            padding: var(--spacing-xlg) 64px;
            display: flex;
      }

}

@media screen and (min-width : 1440px) { 
      
}