@charset "utf-8";

/* PPNeueMontreal.css */
@font-face {
  font-family: 'PPNeueMontreal';
  src: local('PP Neue Montreal'),
  url(../fonts/PPNeueMontreal-Bold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: local('PP Neue Montreal Book'),
  url(../fonts/PPNeueMontreal-Book.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}


@font-face {
  font-family: 'PPNeueMontreal';
  src: local('PP Neue Montreal Medium'),
  url(../fonts/PPNeueMontreal-Medium.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: local('PP Neue Montreal Thin'),
  url(../fonts/PPNeueMontreal-Thin.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}