@charset "utf-8";

/* Unna.css */
@font-face {
  font-family: 'Unna';
  src: url(../fonts/Unna-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Unna';
  src: url(../fonts/Unna-Regular.woff2) format('woff2'),
  url(../fonts/.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}